/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.question_deets {
  margin-left: 100px;
  margin-right: 900px;
  background-color: #a3f441;
  background-blend-mode:color-dodge;
}

.question_desc {
  font-size: 20px;
  display: inline-block;
  padding-right: 22px;
}

.field {
  padding: 10px;
  font-size: 18px;
}

input[type=text]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}
