<footer>
  <p class="new_question_link">
    <%= button_to "Ask a question!", new_question_path, method: :get %>
  </p>
  <p class="homebutton">
    <%= button_to 'Home', questions_path, method: :get %>
  </p>
</footer>
